###############################################################################
# Last Modified: 09-23-2013
###############################################################################


###############################################################################
#
# SERVICE DEFINITIONS
#
###############################################################################

# on the local machine.  Warning if < 20% free, critical if
# < 10% free space on partition.

define service{
        use                             local-service         ; Name of service template to use
        hostgroup_name                  linux-servers
#        host_name                     
        service_description             Root Partition
	check_command			check_nrpe!check_root_partition
        }

define service{
        use                             local-service         ; Name of service template to use
        hostgroup_name                  linux-servers
        service_description             Data Partition
        check_command                   check_nrpe!check_data_partition
        }



# Define a service to check the number of currently logged in
# users on the local machine.  Warning if > 20 users, critical
# if > 50 users.

define service{
        use                             local-service         ; Name of service template to use
        hostgroup_name                  linux-servers
        service_description             Current Users
	check_command			check_nrpe!check_users
        }


# Define a service to check the number of currently running procs
# on the local machine.  Warning if > 250 processes, critical if
# > 400 users.

define service{
        use                             local-service         ; Name of service template to use
        hostgroup_name                  linux-servers
        service_description             Zombie Processes
	check_command			check_nrpe!check_zombie_procs
        }

define service{
        use                             local-service         ; Name of service template to use
        hostgroup_name                  linux-servers
        service_description             Total Processes
        check_command                   check_nrpe!check_total_procs
        }




# Define a service to check the load on the local machine. 

define service{
        use                             local-service         ; Name of service template to use
        hostgroup_name                  linux-servers
        service_description             Current Load
	check_command			check_nrpe!check_load
        }



# Define a service to check the swap usage the local machine. 
# Critical if less than 10% of swap is free, warning if less than 20% is free

#define service{
#        use                             local-service         ; Name of service template to use
#        hostgroup_name                  linux-servers
#        service_description             Swap Usage
#	check_command			check_local_swap!20!10
#        notifications_enabled           0
#        }
#


# Define a service to check SSH on the local machine.
# Disable notifications for this service by default, as not all users may have SSH enabled.

define service{
        use                             local-service         ; Name of service template to use
        hostgroup_name                  linux-servers
        service_description             SSH
	check_command			check_ssh
	notifications_enabled		0
        register                        0 
        }


define service{
        use                             local-service         ; 
        hostgroup_name                 linux-servers
#        host_name                       deploy
        service_description             NET-LAN
        check_command                   check_nrpe!check_linux_lan
        }

define service{
        use                             local-service         ; 
        hostgroup_name                 linux-wlan
#        host_name                       deploy
        service_description             NET-WLAN
        check_command                   check_nrpe!check_linux_wlan
        }



define service{
        use                             local-service         ; Name of service template to use
        #hostgroup_name                  linux-servers
        host_name                       ck01.stsvc
        service_description             Current CPU
        check_command                   check_nrpe!check_cpu
        }

define service{
        use                             local-service         ; Name of service template to use
        hostgroup_name                  linux-db-slave
        service_description             check_mysql_slave
        check_command                   check_mysql_slave! -w 1 -c 2  

        }

define service{
        use                             local-service         ; Name of service template to use
        hostgroup_name                  linux-db
        service_description             MySql-processlist
        check_command                   check_mysql_status! -w 100 -c 350  -s 'show processlist'
        }


define service{
        use                             local-service         ; Name of service template to use
        hostgroup_name                  linux-push
        service_description             Web Alive
        check_command                   check_http! -p 8080 -u "/cpp-push/build.html" 
        }

