<!doctype html>
<html>
<head>
<meta charset="utf-8">
        <link rel="stylesheet" href="style.css" >
<title>New Article</title>
<script type="text/javascript">
function abc(){
}
</script>

</head>

<body>
<div id="artice_form_container">
<header>New Article with images
</header>
<form name="form1" method="post" action="">
  <label for="title">标题</label>
  <input type="text" name="title" id="title"><br/>
  <label for="pubdate">发布时间</label>
  <input type="text" name="pubdate" id="pubdate"><br/>
  <label for="content">Image</label>
  <input name="" type="image"><br/>
  <label for="content">内容</label>
  <input name="img1" type="file" size="50"><br/>
  <textarea name="content" cols="100" rows="10" id="content"></textarea><br/><br/>
  
  <input name="save" type="button">
  <input name="publish" type="button">
  <input name="preview" type="button">
</form>
</div> 
</body>
</html>
