
<!DOCTYPE html>
<html lang="en">
<head>
<title>Portfolio</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" media="screen" href="/site/css/reset.css">
<link rel="stylesheet" type="text/css" media="screen" href="/site/css/style.css">
<!--<link href='http://fonts.googleapis.com/css?family=Cabin+Sketch:400,700' rel='stylesheet' type='text/css'>-->
<script src="/site/js/jquery-1.7.min.js"></script>
<script src="/site/js/jquery.easing.1.3.js"></script>
<!--[if lt IE 9]>
<script src="/site/js/html5.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="/site/css/ie.css">
<![endif]-->
</head>
<body>
<!--==============================header=================================-->
<div class="header">
  <div>
    <div class="subpages-nav">
      <nav>
        <ul class="menu">
          <li class="li-none"><a href="/p/site/home">首页</a></li>
          <li class="current"><a href="/p/site/portfolio">套系介绍</a></li>
          <li><a href="services.html">服务流程</a></li>
          <li class="li-left li-none"><a href="/p/site/list_article">作品展示</a></li>
          <li><a href="news.html">摄影学堂</a></li>
          <li><a href="news.html">联系</a></li>

        </ul>
        <h1><a href="/p/site/home"><img src="/site/images/logo.png" alt=""></a></h1>
      </nav>
    </div>
  </div>
</div>
<!--==============================content================================-->
<section id="content">
  <div class="pad-1">
    <div class="page4-row1">

      <div class="col-12">
        <h2 class="h2 p2">套系和价格 </h2>

                套系一 价格：699元


拍摄地点：室内，室外（小区内或附近公园），如指定拍摄地点，费用另计；
拍摄时间：2-4个小时
拍摄内容：大头照，生活照，亲子照
免费提供：

1、50张底片，其中精修10张；
2、免费拍摄全家福，横版竖版各一张；
附：如需额外底片，10元/张；额外精修，20元/张。

套系二 价格：999元


拍摄地点：室内，室外（小区内或附近公园），如指定拍摄地点，费用另计；
拍摄时间：2-4个小时
拍摄内容：大头照，生活照，亲子照
免费提供：

1、价值300元的8*12寸无线精装铜板纸质照片书一册，入册40-50张精修照片；
2、免费全家福，横版竖版各一张；
3、精修底片全部奉送；
附：如需额外底片 10元/张，额外精修底片20元/张。

套系三 电影相册 价格：1680元


服务内容：

1、片长6-8分钟的电影相册一部（DVD光盘）；
2、入册照片精修并全部奉送；

3、送拉米娜10寸摆台一个。

电影相册样本请详见公众微信号“市井影像”的历史消息记录。

套系四 跟拍一年，制作电影相册
价格：5860元


服务内容：

1、一年之中，每两个月为客户提供上门拍摄服务一次，服务内容参照699元的套系一的内容和标准；
2、于被拍摄宝宝生日时，从一年的300张照片中精选60-70张照片精修，并最终完成宝宝一年成长历程之电影相册；
3、300张照片全部奉送；
4、送拉米娜10寸摆台一个。

预约拍摄请提前2周

预约电话（微信）：13701089109
      </div>
      <div class="col-13">
        <h2 class="h2 p2">Featured news:</h2>
        <img src="images/page5-img1.jpg" alt="" class="img-border img-indent-2">
        <p class="upper clr-1 p5 ">ut dui gravida ut viverra lectus tincidunt Cras </p>
        <p>nec tristique. Sed sed felis arcu, vel vehicula augue sagittis cursus. Fusce tincidunt, tellus eget tristique cursus, orci mi iaculis sem. sit amet dictum velit velit eu magna.</p>
        <a href="#" class="link-1 link-1-pad">Read more</a>

        <h2 class="h2 p2">Featured news:</h2>
        <img src="images/page5-img1.jpg" alt="" class="img-border img-indent-2">
        <p class="upper clr-1 p5 ">ut dui gravida ut viverra lectus tincidunt Cras </p>
        <p>nec tristique. Sed sed felis arcu, vel vehicula augue sagittis cursus. Fusce tincidunt, tellus eget tristique cursus, orci mi iaculis sem. sit amet dictum velit velit eu magna.</p>
        <a href="#" class="link-1 link-1-pad">Read more</a>
      </div>

    </div>
  </div>
</section>
<!--==============================footer=================================-->
<footer>
    <span><strong>Copyrights © yinyushijing.cn </strong> All rights reseorved <br> 京ICP备15014181号 </span>
</footer>
</body>
</html>
