$def with(article_meta, article_content)
<!DOCTYPE html>
<html lang="en">
<head>
<title>套系报价</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" media="screen" href="/site/css/reset.css">
<link rel="stylesheet" type="text/css" media="screen" href="/site/css/style.css">
<!--<link href='http://fonts.googleapis.com/css?family=Cabin+Sketch:400,700' rel='stylesheet' type='text/css'>-->
<script src="/site/js/jquery-1.7.min.js"></script>
<script src="/site/js/jquery.easing.1.3.js"></script>
<!--[if lt IE 9]>
<script src="/site/js/html5.js"></script>
<link rel="stylesheet" type="text/css" media="screen" href="/site/css/ie.css">
<![endif]-->
</head>
<body>
<!--==============================header=================================-->
<div class="header">
  <div>
    <div class="subpages-nav">
      <nav>
        <ul class="menu">
          <li class="li-none"><a href="/p/site/home">首页</a></li>
          <li class="current"><a href="/p/site/portfolio">套系介绍</a></li>
          <li><a href="/p/site/service">服务流程</a></li>
          <li class="li-left li-none"><a href="/p/site/la">作品展示</a></li>
          <li><a href="/p/site/sc">摄影学苑</a></li>
          <li><a href="/p/site/news">活动</a></li>

        </ul>
        <h1><a href="/p/site/home"><img src="/site/images/logo.png" alt=""></a></h1>
      </nav>
    </div>
  </div>
</div>
<!--==============================content================================-->
<section id="content">
  <div class="pad-1">
    <div class="page4-row1">

      <div class="col-12">
        <h2 class="h2 p2" align="center">
            $if article_meta:
                $article_meta.title
        </h2>
        <h4 class="h4" align="right">$article_meta.author&nbsp;发表于&nbsp;$datestr(article_meta.dtcreate)</h4>
        <div class="wrap">

          <img src="$article_meta.cover" width="600" alt="" >
          <div class="extra-wrap">
             $if article_content:
                 $:article_content.content

          </div>
        </div>

          
      </div>
      <div class="col-13">
        <h2 class="h2 p2">Featured news:</h2>
        <img src="images/page5-img1.jpg" alt="" class="img-border img-indent-2">
        <p class="upper clr-1 p5 ">ut dui gravida ut viverra lectus tincidunt Cras </p>
        <p>nec tristique. Sed sed felis arcu, vel vehicula augue sagittis cursus. Fusce tincidunt, tellus eget tristique cursus, orci mi iaculis sem. sit amet dictum velit velit eu magna.</p>
        <a href="#" class="link-1 link-1-pad">Read more</a>

        <h2 class="h2 p2">Featured news:</h2>
        <img src="images/page5-img1.jpg" alt="" class="img-border img-indent-2">
        <p class="upper clr-1 p5 ">ut dui gravida ut viverra lectus tincidunt Cras </p>
        <p>nec tristique. Sed sed felis arcu, vel vehicula augue sagittis cursus. Fusce tincidunt, tellus eget tristique cursus, orci mi iaculis sem. sit amet dictum velit velit eu magna.</p>
        <a href="#" class="link-1 link-1-pad">Read more</a>
      </div>

    </div>
  </div>
</section>
<!--==============================footer=================================-->
<footer>
    <span><strong>Copyrights © yinyushijing.cn </strong> All rights reseorved <br> 京ICP备15014181号 </span>
</footer>
</body>
</html>
