$def with(order_id,rlist,total)
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>挑选照片</title>

    <!-- Bootstrap Core CSS -->
    <!--<link href="/adm/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="/adm/css/bootstrap.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/adm/css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/adm/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/adm/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="/jslib/jquery/jquery-ui-1.11.4.custom/jquery-ui.css">
    <!--<script language="JavaScript" src="/jslib/jquery/jquery-1.9.1.js"></script>-->
    <script language="JavaScript" src="/jslib/jquery/jquery-1.11.3.min.js"></script>
    <script language="JavaScript" src="/jslib/jquery/jquery-ui-1.11.4.custom/jquery-ui.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script>
        function showImage(url){
            $$("#img_viewer").attr("src","${service_config.img_url}" +url);
            $$("#img_viewer").attr("width","350");
            $$("#dialog").dialog({width:390,
                show: {
                effect: "blind",
                duration: 500
                },
                hide: {
                effect: "blind",
                duration: 500
                }
            });
            $$(".ui-dialog-titlebar").hide();
        }

        function hideImage(){
            $$("#dialog").dialog('close');
        }

        //TODO counter
        SELECTED_LIMIT=30
        selected_counter=0
        function updateChoice(ckbox,iid){
            istatus=0;
            if(ckbox.checked){
                istatus = 2;
                selected_counter++;

                if(selected_counter >= SELECTED_LIMIT)
                    alert('exceeds.');
            }else{
                istatus = 1;
                selected_counter--;
            }

            data_url = '/p/u/upc/'+iid+'?status='+istatus
            $$.getJSON(data_url)
            .done(
                function(data){

                })
                .fail(
                function(jqxhr,textStatus,error){
                    var err = textStatus + "," + error;
                    console.log( "Request Failed:" + err );
                }
                );
        }
    </script>
</head>

<body>

    <div id="dialog" title="" style="display:none">
      <img id="img_viewer" src="" width="0" onclick="hideImage()">
    </div>

    <div id="wrapper">

        <!-- Navigation -->
        <div id="admnav">
            <script>
                $$("#admnav").load("/site/user_nav.html");
            </script>
        </div>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">照片 共 $total 张</h3>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">

    $ nevery_line=10
    $for i in range(0,total):
        $ img=rlist[i]
        $ checked=''
        $if img.ext_status==2:
                $ checked='checked'
        $else:
                $ checked=''
        <div class="col-lg-2">
            <div class="panel panel-info">
                <div class="panel-body">
                    <a href="javascript:showImage('$img.large')">
                    <img id='img_$img.oid' src="${service_config.img_url+ img.thumbnail}" height="120" align="center"/>
                    </a>
                </div>
                <div class="panel-footer" align="right"><input id="ck_$img.oid" type="checkbox" $checked onchange="updateChoice(this,'$img.oid')">
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading" align="right">
                     <a class="btn active" href="/p/u/okimgs/${order_id}"> 下一步>> </a>
                </div>
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
            <!-- /.row -->

            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->


    <!-- Bootstrap Core JavaScript -->
    <script src="/adm/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/adm/js/plugins/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/adm/js/sb-admin-2.js"></script>

</body>

</html>
