<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../style/style.css" >
    <title>Album</title>
    <script type="text/javascript">
    function abc(){
    }
    </script>

</head>

<body>
<div id="form_container">
<header>Album</header>

<form name="form1" method="post" action="" >
  <table>
  <tr>
      <td>名称 <input type="text" name="title" id="title" ></td>
  </tr>
  <tr>
      <td>描述 <input type="text" name="remark" id="remark" ></td>
  </tr>

  <tr>
      <td>
          <input name="uaction" type="submit" value="Save">
      </td>
  </tr>
  </table>

</form>
</div> 
</body>
</html>
