$def with(album_list,total,total_pages)
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../style/style.css" >
    <title>Article List for Edit</title>
    <script language="JavaScript" src="../js/jquery-1.9.1.js"></script>
    <script language="JavaScript">

    </script>
</head>

<body>
<div  >
<table id="tbl_list" border="1">
    <thead>
	<tr><td>id</td><td>Title</td><td>remark</td><td>create time</td><td>update time</td><td>Status</td><td>操作</td></tr>
    </thead>
    <tbody>
    $for album in album_list:
        <tr>
            <td>$album.id</td><td>$article.title</td><td>$(article.dtcreate)</td><td>$article.dtupdate</td><td>$article.status</td>
            <td>
            &nbsp;<a href="edit_article?id=$article.id">Edit</a>
            &nbsp;<a href="delete_article?id=$article.id">Delete</a>
            &nbsp;<a href="preview_article?id=$article.id">Preview</a>
            </td>
        </tr>


    </tbody>
    
</table>

</div>
</body>
</html>
