$def with(article_list,total,total_pages,npages,ctcode)
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Articles List</title>

    <!-- Bootstrap Core CSS -->
    <link href="/adm/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/adm/css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/adm/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/adm/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <script language="JavaScript" src="/jslib/jquery/jquery-1.9.1.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script>

        data_url = "/p/adm/list_category";

        function generateCategoryList(){
            $$.getJSON(data_url)
            .done(
                function(data){
                    appendCategoryNode(data);
                })
                .fail(
                function(jqxhr,textStatus,error){
                    var err = textStatus + "," + error;
                    console.log( "Request Failed:" + err );
                }
                );

        }

        function appendCategoryNode(data){
            selectNode = $$("#cms_category");

            for(i=0;i<data.rlist.length;i++){
                cate = data.rlist[i];
                $if ctcode:
                    selected =  ('$ctcode'==cate.code?'selected':'');
                $else:
                    selected= ""
                optionNode = $$("<option value='"+cate.code+"' " +selected +" >"+cate.title+"</option>");
                selectNode.append(optionNode);
            }
        }

        $$(document).ready(function(){

            generateCategoryList();
        });

        function changeCategory(){

            window.location.href = '/p/adm/list_article?ctcode='+ $$("#cms_category").val();
        }
    </script>
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <div id="admnav">
            <script>
                $$("#admnav").load("/adm/adm_nav.html");
            </script>
        </div>


        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">图文列表</h3> <select id="cms_category" name="ctcode" onchange="changeCategory()"> <option value="">ALL</option></select>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

   <div class="row">
    $for i in range(0,len(article_list)):

        $ article=article_list[i]
        <div class="col-lg-3">
            <div class="panel panel-info">
                <div class="panel-heading">
                    $article.title
                </div>
                <div class="panel-body">
                    <img src="${service_config.img_url+'/thumb'+article.cover}" width="160" align="left"/>
                    <p>$article.brief [$article.dtcreate]</p>
                </div>
                <div class="panel-footer" align="right">
                     &nbsp;<a href="edit_article?id=$article.oid">Edit</a>
                     &nbsp;<a href="delete_article?id=$article.oid">Delete</a>
                     &nbsp;<a href="preview_article?id=$article.oid">Preview</a>
                </div>
            </div>
        </div>

   </div>

    $ got_code =''
    $if ctcode:
    $    got_code = ctcode
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading" align="right">
                    共 $total_pages 页
                    $ prev=npages-1
                    $ next=npages+1
                    第${npages+1}页
                    &nbsp;
                    $if total_pages>1 and npages>0:
                        <a href="/p/adm/list_imgs?np=0&ctcode=$got_code">
                        首页
                        </a>
                    $else:
                        首页
                        &nbsp;

                    $if prev>=0:
                        <a href="/p/adm/list_imgs?np=$prev&ctcode=$got_code">
                        上一页
                        </a>
                    $else:
                        上一页
                        &nbsp;

                    $if total_pages>next:
                        <a href="/p/adm/list_imgs?np=$next&ctcode=$got_code">
                        下一页
                        </a>
                    $else:
                        下一页
                        &nbsp;
                    $if total_pages>1 and total_pages-1>npages:
                        <a href="/p/adm/list_imgs?np=${total_pages-1}&ctcode=$got_code">
                        尾页
                        </a>
                    $else:
                        尾页

                </div>
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
            <!-- /.row -->
            
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->


    <!-- Bootstrap Core JavaScript -->
    <script src="/adm/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/adm/js/plugins/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/adm/js/sb-admin-2.js"></script>

</body>

</html>
