$def with(img_list,total,total_pages,npages)
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>照片</title>

    <!-- Bootstrap Core CSS -->
    <link href="/adm/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/adm/css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/adm/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/adm/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script language="JavaScript" src="/jslib/jquery/jquery-1.9.1.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script language="JavaScript" src="/jslib/util.js"></script>

    <script>

        function onClose(img_url,img_raw){
            window.opener.document.getElementById('cover').value=img_raw;

            window.opener.document.getElementById('img_cover').src=img_url;

            window.close();
            return;
        }


    </script>
</head>

<body>

    <div id="wrapper">
        <div id="page-wrapper">
<!-- TODO select album here?
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">照片列表</h3>
                </div>
            </div>
-->
            <!-- /.row -->
          <div class="row">
            $ nevery_line=5
            $for i in range(0,len(img_list)):

                $ img=img_list[i]
                <div class="col-lg-2">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            $img.title
                        </div>
                        <div class="panel-body">
                            <a href="javascript:void(0)" onClick="onClose('${service_config.img_url+ img.thumbnail}','$img.file')">
                            <img id='img_$img.oid' src="${service_config.img_url+ img.thumbnail}" width="160" align="center"/>
                            </a>
                        </div>
                        <div class="panel-footer" align="right">
                        </div>
                    </div>
                </div>
          </div>


    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">

                <div class="panel-heading" align="right">
                    共 $total_pages 页,

                    $for np in range(0,total_pages):
                        $if np == npages:
                             ${np+1}
                        $else:
                            <a href="/p/adm/select_cover?np=$np">${np+1}</a>
                </div>

            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
            <!-- /.row -->
            <input type="button" value="insert" onClick="return onClose()">
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->


    <!-- Bootstrap Core JavaScript -->
    <script src="/adm/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/adm/js/plugins/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/adm/js/sb-admin-2.js"></script>

</body>

</html>
