$def with(img_list,total,total_pages,npages,acode)
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>照片管理</title>

    <!-- Bootstrap Core CSS -->
    <link href="/adm/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/adm/css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/adm/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/adm/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <script language="JavaScript" src="/jslib/jquery/jquery-1.11.3.min.js"></script>
    <script language="JavaScript" src="/jslib/shijing.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script>

        album_data_url = "/p/adm/list_album?format=json";


        function appendAlbumDataNode(data){
            selectNode = $$("#cms_album");

            for(i=0;i<data.rlist.length;i++){
                album = data.rlist[i];
                $if acode:
                    selected =  ('$acode'==album.code?'selected':'');
                $else:
                    selected= ""
                optionNode = $$("<option value='"+album.code+"' " +selected +" >"+album.title+"</option>");
                selectNode.append(optionNode);
            }
        }

        $$(document).ready(function(){

            generateList(album_data_url,appendAlbumDataNode);
        });

        function changeAlbum(){

            window.location.href = '/p/adm/list_imgs?acode='+ $$("#cms_album").val();
        }
    </script>

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <!--todo nav goes here how?-->
        <div id="admnav">
            <script>
                $$("#admnav").load("/adm/adm_nav.html");
            </script>
        </div>

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="page-header">照片列表</h3> <select id="cms_album" name="ac" onchange="changeAlbum()"> </select>
                </div>
                <!-- /.col-lg-12 -->
            </div>

          <div class="row">
            $for i in range(0,len(img_list)):

                $ img=img_list[i]
                <div class="col-lg-2">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            $img.title
                        </div>
                        <div class="panel-body">
                            <a href="${service_config.img_url+ img.large}" target="_blank">
                            <img id='img_$img.oid' src="${service_config.img_url+ img.thumbnail}" width="160" align="center"/>
                            </a>
                        </div>
                        <div class="panel-footer" align="right">
                             &nbsp;<a href="delete_img?id=$img.oid">Delete</a>
                        </div>
                    </div>
                </div>

          </div>

    $ got_code=''
    $if acode:
    $    got_code = acode
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading" align="right">
                  <ul class="pagination pagination-sm">
                    <!--共 total_pages 页,-->
                    $ css_class = ''
                    $for np in range(0,total_pages):
                        $if np == npages:
                            $ css_class ='class="active"'
                        $else:
                            $ css_class =''

                        <li $:css_class><a href="/p/adm/list_imgs?np=$np&acode=$got_code">${np+1}</a></li>
                  </ul>
                </div>

            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
            <!-- /.row -->

            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->


    <!-- Bootstrap Core JavaScript -->
    <script src="/adm/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/adm/js/plugins/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/adm/js/sb-admin-2.js"></script>

</body>

</html>
