$def with(oid)

<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>手动加载照片</title>

        <!-- Bootstrap Core CSS -->
        <link href="/adm/css/bootstrap.min.css" rel="stylesheet">

        <!-- MetisMenu CSS -->
        <!--<link href="/adm/css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">-->

        <!-- Custom CSS -->
        <link href="/adm/css/sb-admin-2.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <!--top right will be affected by this css-->
        <link href="/adm/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <!-- jQuery /home/sunwj/work/studio/shijing_img/js/jquery -->
        <script language="JavaScript" src="/jslib/jquery/jquery-1.11.3.min.js"></script>
        <script language="JavaScript" src="/jslib/jquery/jquery.form.js"></script>
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body>

        <div id="wrapper">

            <!-- Navigation -->

        <div id="admnav">
            <script>
                $$("#admnav").load("/adm/adm_nav.html");
            </script>
        </div>


            <!-- Navigation ends here -->
            <div id="page-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h3 class="page-header">Load 图片</h3>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-12">

                        <div id="dropzone">
                            <form id="photo_upload_form" action="/p/adm/order/loadphoto"    method="post"   enctype="multipart/form-data" onsubmit="return submitForm()">
                                zip格式，比如05.zip 里面有 05/img01.jpg, 05/img02.jpg
                                <br>
                               （相对）目录(以‘/’开始,比如/2015/10):
                                <input type="text" name="folder" size="30">
                               订单编号:<input type="text" id="orderid" name="orderid" size="10">
                                <input type="file" name="photozip" >
                                <button id="submit_photo" type="submit" value="upload" >upload</button>
                                <br/>
                                将图片上传到/var/shijing/img/raw/[2015/10/15]......

                            </form>
                        </div>

                        <div id="callback_block">

                        </div>

                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /#page-wrapper -->

        </div>
        <!-- /#wrapper -->


        <!-- Bootstrap Core JavaScript -->
        <script src="/adm/js/bootstrap.min.js"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="/adm/js/plugins/metisMenu/metisMenu.min.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="/adm/js/sb-admin-2.js"></script>

        $if oid:
            <script>
                $$('#orderid').val('$oid');
            </script>

        <script>
            refreshTimer=0;
            job_id=0;
            function showStatusBlock(data){
                $$('#dropzone').hide()
                $$("#callback_block").show();
                span='<span>'+data+'</span>';
                $$("#callback_block").empty();
                $$("#callback_block").append(span);
            }

            function refreshStatus(){
                $$.ajax({
                  url: "/p/adm/order/jobstatus/"+job_id,
                  cache: false,
                  success: function(data){
                      if(data){
                          job_result=$$.parseJSON(data);
                          if(job_result.status == 9 ){
                              showStatusBlock('照片上传完成:'+job_result.reason);
                              clearInterval(refreshTimer);
                          }
                          else{
                              showStatusBlock('照片处理中，请耐心等待......:'+job_result.status);
                          }
                      }
                      else{
                          showStatusBlock('照片处理中，请耐心等待......');
                      }
                  },
                  error: function(data){
                      console.log('cancel timer:'+data);
                      clearInterval(refreshTimer);
                  }
                });
            }

            function disable_button(){
                $$('#submit_photo').attr('disabled','true');
            }

            function submitForm(){
                $$('#photo_upload_form').ajaxSubmit({
                    success:function(data){
                            job_id=data;
                            showStatusBlock('照片处理中，请耐心等待......');
                            refreshTimer = setInterval(refreshStatus,30000);
                            console.log("Timer set.");
                    },
                    error: function(data){
                           showStatusBlock('发生异常情况：'+data);
                    }

                  }
                );

                disable_button();


                return false;
            }

        </script>
    </body>

</html>
