
#user  nobody;
worker_processes  1;

#error_log  logs/error.log;
#error_log  logs/error.log  notice;
#error_log  logs/error.log  info;

#pid        logs/nginx.pid;


events {
    worker_connections  1024;
}


http {
    include       mime.types;
    default_type  application/octet-stream;

    #log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
    #                  '$status $body_bytes_sent "$http_referer" '
    #                  '"$http_user_agent" "$http_x_forwarded_for"';

    #access_log  logs/access.log  main;

    sendfile        on;
    #tcp_nopush     on;

    #keepalive_timeout  0;
    keepalive_timeout  65;

    #gzip  on;

    server {
        listen       80;
        server_name  localhost;

        #charset koi8-r;

        #access_log  logs/host.access.log  main;

        location / {
            root   html;
            index  index.html index.htm;
        }

        #error_page  404              /404.html;

        # redirect server error pages to the static page /50x.html
        #
        error_page   500 502 503 504  /50x.html;
        location = /50x.html {
            root   html;
        }

        # proxy the PHP scripts to Apache listening on 127.0.0.1:80
        #
        #location ~ \.php$ {
        #    proxy_pass   http://127.0.0.1;
        #}

        # pass the PHP scripts to FastCGI server listening on 127.0.0.1:9000
        #
        location ~ \.php$ {
            root           C:/ZZZZZ/projects/001_shijing/wordpress;
            fastcgi_pass   127.0.0.1:9000;
            fastcgi_index  index.php;
            #fastcgi_param  SCRIPT_FILENAME  /scripts$fastcgi_script_name;
			fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
            include        fastcgi_params;
        #}

        # deny access to .htaccess files, if Apache's document root
        # concurs with nginx's one
        #
        #location ~ /\.ht {
        #    deny  all;
        #}
    }


    # another virtual host using mix of IP-, name-, and port-based configuration
    #
    #server {
    #    listen       8000;
    #    listen       somename:8080;
    #    server_name  somename  alias  another.alias;

    #    location / {
    #        root   html;
    #        index  index.html index.htm;
    #    }
    #}

  
  
    put this behind another server.
    # HTTPS server
    #
    server {
        listen       443 ssl;
        server_name  localhost;

		#Certificate file 		combined with the Intermediate certificate chain file Thawte-ww-CA.crt
		# cat server_cert Intermediate >new crt.
		ssl_certificate /etc/nginx/certs/thawte-blurdev-2014-combined.crt;
		#Private key file
		ssl_certificate_key /etc/nginx/certs/thawte-blurdev-2014.key;

    #    ssl_certificate      cert.pem;
    #    ssl_certificate_key  cert.key;

    #    ssl_session_cache    shared:SSL:1m;
    #    ssl_session_timeout  5m;

    #    ssl_ciphers  HIGH:!aNULL:!MD5;
    #    ssl_prefer_server_ciphers  on;

        location / {
            root   html;
            index  index.html index.htm;
        }
    }

}




----------apache
LoadModule ssl_module modules/mod_ssl.so
ProxyPass /server-status !
Listen 443
SSLSessionCache         shmcb:/var/cache/mod_ssl/scache(512000)
SSLSessionCacheTimeout  300
SSLMutex default
SSLRandomSeed startup file:/dev/urandom  256
SSLRandomSeed connect builtin
SSLCryptoDevice builtin
ErrorLog logs/ssl_error_log
TransferLog logs/ssl_access_log
LogLevel warn
SSLProtocol all -SSLv2
SSLHonorCipherOrder On
SSLCipherSuite ALL:!ADH:!EXP:!LOW:!RC2:!3DES:!SEED:!RC4:+HIGH:+MEDIUM

#Certificate file
SSLCertificateFile /etc/httpd/certs/thawte-blurdev-2014.csr.crt
#Private key file
SSLCertificateKeyFile /etc/httpd/certs/thawte-blurdev-2014.csr.key
#Intermediate certificate chain file
SSLCACertificateFile /etc/httpd/certs/Thawte-ww-prim-cert.crt

<VirtualHost *:443>
ServerName cn-argo-sdc200.blurdev.com
SSLEngine on
AllowEncodedSlashes On
</VirtualHost>

ProxyRequests Off
ProxyPassMatch  (.*) http://localhost:8080/cloud-service-1.0/ws nocanon
ProxyPreserveHost On
ProxyStatus On
SetEnv proxy-nokeepalive 0
RequestHeader set X-Forwarded-Proto "https" env=HTTPS



---------------
LoadModule ssl_module modules/mod_ssl.so
ProxyPass /server-status !
Listen 443
SSLSessionCache         shmcb:/var/cache/mod_ssl/scache(512000)
SSLSessionCacheTimeout  300
SSLMutex default
SSLRandomSeed startup file:/dev/urandom  256
SSLRandomSeed connect builtin
SSLCryptoDevice builtin
ErrorLog logs/ssl_error_log
TransferLog logs/ssl_access_log
LogLevel warn
SSLProtocol all -SSLv2
SSLHonorCipherOrder On
SSLCipherSuite ALL:!ADH:!EXP:!LOW:!RC2:!3DES:!SEED:!RC4:+HIGH:+MEDIUM

#Certificate file
SSLCertificateFile /etc/httpd/certs/Thawte-svcmot-cn.crt
#Private key file
SSLCertificateKeyFile /etc/httpd/certs/Thawte-svcmot-cn.key
#Intermediate certificate chain file
SSLCACertificateFile /etc/httpd/certs/Thawte-ww-prim-cert.crt

<VirtualHost *:443>
ServerName api.svcmot.cn
SSLEngine on
AllowEncodedSlashes On
</VirtualHost>

ProxyRequests Off
ProxyPassMatch  (.*) http://localhost:8080/cloud-service-1.0/ws nocanon
ProxyPreserveHost On
ProxyStatus On
SetEnv proxy-nokeepalive 0
RequestHeader set X-Forwarded-Proto "https" env=HTTPS


