<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../style/style.css" >
    <title>Dashboard</title>
</head>

<body>
<div>
<header>Dashboard</header>

  <ul id="fileList">
    <li><a href="/p/adm/new_article">New Article</a></li>
    <li><a href="/p/adm/list_article">Article List</a></li>
    <li><a href="/p/adm/album">Album</a></li>
    <li><a href="/p/adm/list_album">Album Llist</a></li>
    <li><a href="/p/adm/upload_img">Upload Image</a></li>
    <li><a href="/p/adm/list_imgs">Upload Image</a></li>
  </ul>

</div>
</body>
</html>
