<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../style/style.css" >
    <title>New Article</title>
    <script type="text/javascript">
    function abc(){
    }
    </script>

</head>

<body>
<div id="artice_form_container">
<header>New Article with images
</header>
<form name="form1" method="post" action="" enctype="multipart/form-data">
  <table>
  <tr>
      <td colspan="2">标题 <input type="text" name="title" id="title" ></td>
  </tr>
  <tr>
      <td>作者 <input type="text" name="author" id="author" ></td>
      <td>来源 <input type="text" name="source" id="source" ></td>
  </tr>

  <tr>
      <td colspan="2">
          <!--TODO fckeditor-->
          内容 <textarea name="content" cols="100" rows="10" id="content"></textarea>
      </td>
  </tr>
  <tr>
      <td>
  <input name="uaction" type="submit" value="Save">
  <input name="uaction" type="button" value="Preview">
  <input name="uaction" type="button" value="Publish">
      </td>
  </tr>
  </table>

</form>
</div> 
</body>
</html>
